<header>
    <link href="/css/nav.css" rel="stylesheet">
    <nav class="fixed-top" id="navbar">
        <h1 class="display-1 mb-0 text-center bg-dark text-white"><a href="/home">Pup Pup Hooray</a></h1>
        <div>
            {{!-- Go Back and Logout --}}
            <div class="d-flex bd-highlight mb-2 bg-secondary">
                <div class="me-auto p-2 bd-highlight">
                    <button type="button" class="btn btn-dark" onclick="window.history.back()">
                        Go Back
                    </button>
                </div>
                <div class="p-2 bd-highlight">
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/'">
                        Logout
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>