<html>
<head>
	<title>Pup Pup Hooray</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/buy.css" rel="stylesheet">
</head>

<body>
	<div class="header">
		<h1 id="headerTitle">Pup Pup Hooray</h1>
	</div>
    <div class="arform">
		<div class="arTitle">
			<h1 id="addReviewHeader">Add Review</h1>
        </div>
		<style>
			input[type=button] {
				background-color: white;
				border: none;
				color: black;
				padding: 5x 15px;
				text-decoration: none;
				margin: 4px 2px;
				cursor: pointer;
			}
		</style>
		<form>
            <label for="arrating">Rating</label><br><br>
            <label for="ardescription">Description:</label><br>
            <textarea id="ardescription"></textarea><br>
			<input type="button" class="arsubmit" onclick="location.href='/'" value="Submit">
        </form>
    </div>
</html>