<html>

<head>
	<title>Pup Pup Hooray</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">-->
	<link href="/css/addReview.css" rel="stylesheet">

	{{!-- Bootstrap 5 CSS --}}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	{{!-- Bootstrap Icons --}}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
	<link href="/css/buy.css" rel="stylesheet">
	{{!-- JQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	{{!-- Bootstrap JS --}}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
	<script src="/js/navbar.js"></script>
	<script src="/js/facebook.js"></script>
 <!-- 	<link href="style.css" type="text/css" rel="stylesheet">   -->
	<link href="/css/addReview.css" rel="stylesheet">
</head>

<body>
	<header>
		<nav class="fixed-top" id="navbar">
			<h1 class="display-1 mb-0 text-center bg-dark text-white">Pup Pup Hooray</h1>
			<div>
				{{!-- Go Back and Logout --}}
				<div class="d-flex bd-highlight mb-2 bg-secondary">
					<div class="me-auto p-2 bd-highlight">
						<button type="button" class="btn btn-dark" onclick="window.location.href='/home'">
							Go Back
						</button>
					</div>
					<div class="p-2 bd-highlight">
						<button type="button" class="btn btn-dark" onclick="window.location.href='/'">
							Logout
						</button>
					</div>
				</div>
			</div>
		</nav>
	</header>

		<div class="arform">
			<div class="arTitle">
				<h1 id="addReviewHeader" class="text-center">Add Review</h1>
			</div>
			<style>
				input[type=button] {
					background-color: white;
					border: none;
					color: black;
					padding: 5x 15px;
					text-decoration: none;
					margin: 4px 2px;
					cursor: pointer;
				}
			</style>
			<form method='GET'>
				<label for="arrating">Rating</label><br>
				<div class="rate">
					<input type="radio" id="star5" name="rate" value="5" />
					<label for="star5" title="text">5 stars</label>
					<input type="radio" id="star4" name="rate" value="4" />
					<label for="star4" title="text">4 stars</label>
					<input type="radio" id="star3" name="rate" value="3" />
					<label for="star3" title="text">3 stars</label>
					<input type="radio" id="star2" name="rate" value="2" />
					<label for="star2" title="text">2 stars</label>
					<input type="radio" id="star1" name="rate" value="1" />
					<label for="star1" title="text">1 star</label>
				</div><br><br><br>
				<label for="ardescription">Description:</label><br>
				<textarea id="ardescription"></textarea><br>
				<input type="button" class="arsubmit" value="Submit" onclick="submitForm()"/>
				<!-- <input type="submit" class="arsubmit" value="Submit"/> -->
				<script type='text/javascript'>
					function submitForm() {
						console.log("Hellloooo");
						var jsonForm = {
							"userFBId" : getUserId(),
							"rating5" : document.getElementById("star5"),
							"rating4" : document.getElementById("star4"),
							"rating3" : document.getElementById("star3"),
							"rating2" : document.getElementById("star2"),
							"rating1" : document.getElementById("star1"),
							"description" : document.getElementById("ardescription")
						}
						var reviewJSON = require('../../reviews.json');
						reviewJSON.push(jsonForm);
						console.log("Wow");
						window.location.assign("/home");
						console.log("It shoudl work");
						var showAlert = document.getElementById('success-alert');
						showAlert.style.display = 'none';
					}
				</script>
  <!-- $.ajax({
    type: 'POST',
    url: 'https://url.com/users/register',
    dataType: 'json',
    data: json,
    contentType: 'application/json',
    success: function(data) {
      alert(data)
    }
  });
});  
				function handleSubmit(event) {
					event.preventDefault();

					const data = new FormData(event.target);

					const value = data.get('email');

					console.log({ value });
				}

				const form = document.querySelector('form');
				form.addEventListener('submit', handleSubmit);
					function getUserID() {
						console.log("HERE IS THE ID:" + response.authResponse.userID);
						return response.authResponse.userID;
					}

					function MyScript() {
						window.location.replace("/home");
						alert("Your review has been submitted. You can see your review soon but not today.");
					}   
				 need to change this to submit later 
				<div class = "alert alert-success alert-dismissable" role="alert" id="arsubmitAlert">
					<input type="button" class="arsubmit" onclick="location.href='/home'" value="Submit">
				</div>   
				<input type="button" type="button" class="arsubmit" onclick="submitAlert()" value="Submit"></button>
					<div class="alert alert-success" id="success-alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
							Your review has been submitted. You can see your review soon but not today.
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				<script type="text/javascript">
					//$(document).ready(submitAlert() {
						function MyScript() {
							$("button.close").click(submitAlert() {
								$('#success-alert').addClass('hidden');
							});
						});
					//}  -->


			</form>
		</div>
	</div>

</html>