<html>
<head>
	<title>Pup Pup Hooray</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/buy.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<h1 id="headerTitle">Pup Pup Hooray</h1>
	</div>

	<div class="navigation">
		<div id="backButton">
			<button id="backText" onclick="window.location.href='/'">Go Back</button>
		</div>

		<div id="logoutButton">
			<button id="logoutText">Logout</button>
		</div>
	</div>

	<div class="container">
		<button class="retailer"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Walmart_Spark.svg/722px-Walmart_Spark.svg.png" class="retailerImg">Walmart</button>
		<button class="retailer"><img src="https://www.optoro.com/wp-content/uploads/2019/08/Target-Logo-1.png" class="retailerImg">Target</button>
		<button class="retailer"><img src="https://www.ultimatedonations.org/lp/petco-1-1.png" class="retailerImg">Petco</button>
		<button class="retailer"><img src="https://play-lh.googleusercontent.com/KZFNL0SAQjqOTX8dfAV4zhXlgKm4mKLTMLNtp4hzYoMzegX3EHRhhg-DijDHHmxh9mA" class="retailerImg">PetSmart</button>
		<button class="retailer"><img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Amazon_icon.png" class="retailerImg">Amazon</button>
	</div>
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>