<html>
<head>
	<title>Pup Pup Hooray</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
        <h4>Go back to rankings</h4>
		<div class="image">
			<img src="http://cdn.shopify.com/s/files/1/0153/0485/1556/products/rope-toy-bone-dog-rope-toy-1_800x.jpg?v=1575448964">
		</div>

		<h1>Dog Product</h1>
        <!-- By: Elise: Added Buy Button // may need to remove class -->
        <button id="buy" class="btn btn-primary btn-lg">Buy</button>
		<h2>Description</h2>

		<p>This state of the art dog product is sure to make your dog extremely happy. This dog product has two modes: Fetch Mode and Sleep Mode!</p>
		<p>Fetch Mode: This dog product has an aerodynamic design so it will practically fly when it's thrown! It will give your dog plenty of exercise!</p>
		<p>Sleep Mode: This dog product is fluffy and cuddly, which makes it perfect for accompanying your dog to bed!
		
		<h2>Reviews</h2>
        <!-- By Elise: Added Review Button // may need to remove class -->
        <button id="addreview">Add Review</button>
		<h3>John Doe</h3>
		<p>This dog product absolutely changed my dog's life! My dog lost two pounds during the first week we played fetch with this dog product!</p>

		<h3>Bob Smith</h3>
		<p>I think this product is great! My dog loved playing fetch with it but she didn't really like sleeping with it.</p>
	</div>
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>