<html>
<head>
	<title>Pup Pup Hooray</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/dogProduct1.css" rel="stylesheet">
</head>
<body>
	<div class="header">
		<h1 id="headerTitle">Pup Pup Hooray</h1>
	</div>

	<div class="navigation">

	</div>

	<div class="rankBox">
		<h3 id="rank">#1</h3> <!--Can use JSON for rank number later-->
	</div>

	<div class="container">
		<div class="image">
			<img src="http://cdn.shopify.com/s/files/1/0153/0485/1556/products/rope-toy-bone-dog-rope-toy-1_800x.jpg?v=1575448964" id="productImage">
		</div>

		<h1 id="productTitle">Dog Product</h1>

		<div class="description">
			<h2 id="descriptionTitle">Description</h2>

			<p>This state of the art dog product is sure to make your dog extremely happy. This dog product has two modes: Fetch Mode and Sleep Mode!</p>
			<p>Fetch Mode: This dog product has an aerodynamic design so it will practically fly when it's thrown! It will give your dog plenty of exercise!</p>
			<p>Sleep Mode: This dog product is fluffy and cuddly, which makes it perfect for accompanying your dog to bed!</p>
		</div>

		<h2 id="reviewTitle">Reviews</h2>

		<h3 class="reviewerNames">John Doe</h3>
		<p>This dog product absolutely changed my dog's life! My dog lost two pounds during the first week we played fetch with this dog product!</p>

		<h3 class="reviewerNames">Bob Smith</h3>
		<p>I think this product is great! My dog loved playing fetch with it but she didn't really like sleeping with it.</p>
	</div>
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>