<!DOCTYPE html>
<html>

<head>
  <title>Pup Pup Hooray</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- Bootstrap 5 CSS --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  {{!-- Bootstrap Icons --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
  <link href="/css/buy.css" rel="stylesheet">
  {{!-- JQuery --}}
  <script src="https://code.jquery.com/jquery.js"></script>
  {{!-- Bootstrap JS --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <script src="/js/navbar.js"></script>

  {{> facebook}}
  <script src="/js/facebook.js"></script>
</head>


<body>
  <header>
    <nav class="fixed-top" id="navbar">
      <h1 class="display-1 shadow text-center mb-0 pb-2 burg text-white">
        Pup Pup Hooray
      </h1>
    </nav>
  </header>

  <main class="container">
    <h1 class="display-1 text-center text-black">Welcome!</h1>

    <div class="card rounded border-end-2 border-light shadow text-center">
      <div class="card-body">
        <div class="fb-login-button" scope="public_profile,email" onlogin="loginHome()" data-width="" data-size="large"
          data-button-type="login_with" data-layout="default" data-auto-logout-link="false"
          data-use-continue-as="false"></div>
      </div>

    </div>

    <!-- <div class="header">
		<h1 id="headerTitle">Pup Pup Hooray</h1>
	</div> -->
    <div class="facebookLogin">
      <script>
        function loginHome() {
          checkLoginState();
          window.location.assign("/home");
        }
      </script>

    </div>
</body>

</html>