/*doesn't work
.arTitle {
    width:100%;
    display: flex;
    justify-content: center;
}

.arform {
    display: flex;
    justify-content: center;
    text-align: center;
} 
// don't need the one below anymore
.arsubmit {
    background-color:black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
*/

textarea {
    width: 100%;
    height: 100px;
}

.navigation {
  background-color: gray;
  margin-top: 0px;
  padding-top: 0px;
  height: 25px;
}

#backText {
  margin-top: 3px;
  padding-top: 0px;
  color: white;
  margin-right: 0px;
  text-align: left;
  padding-left: 10px;
  margin-left: 10px;
  height: 20px;
  background-color: black;
}

#logoutText {
  margin-top: 3px;
  margin-bottom: 0px;
  padding-top: 0px;
  color: white;
  margin-left: 0px;
  /*padding-right: 10px;*/
  margin-right: 10px;
  text-align: right;
  height: 20px;
  background-color: black;
}

#backButton {
  float: left;
  height: 10px;
}

#logoutButton {
  float: right;
  margin: 0px;
  height: 10px;
}