body {
  background-color: #f6ecf0 !important;
}

#productImage {
  float: left;
  width: 150px;
  height: auto;
  padding-top: 15px;
  margin-right: 25px;
}

#productTitle {
  font-size: 20px;
  font-weight: bold;
  margin-left: 25px;
}

.description {
  margin-top: 50px;
}

#descriptionTitle {
  font-size: 18px;
  font-weight: bold;
}

#reviewTitle {
  font-size: 16px;
  font-weight: bold;
}

.reviewerNames {
  font-size: 16px;
  margin: 0px;
}

.header {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  clear: both;
  height: 50px;
}

#headerTitle {
  margin-top: 0px;
}

.navigation {
  background-color: #D3D3D3;
  margin-top: 0px;
  padding-top: 0px;
  height: 25px;
  padding-right: 0px;
  margin-right: 0px;
  position: relative;
}

.rankBox {
  margin-top: 0px;
  padding-top: 0px;
  height: 25px;
  width: 25px;
  float: right;
}

#rank {
  font-size: 14px;
  color: white;
  margin: 0px;
  padding-top: 3px;
  text-align: center;
}

.container {
  position: absolute;
  padding-top: 15px;
}

#addreview {
  float: right;
}

#backText {
  margin-top: 3px;
  padding-top: 0px;
  color: white;
  margin-right: 0px;
  text-align: left;
  padding-left: 10px;
  margin-left: 10px;
  height: 20px;
  background-color: black;
}

#logoutText {
  margin-top: 3px;
  margin-bottom: 0px;
  padding-top: 0px;
  color: white;
  margin-left: 0px;
  /*padding-right: 10px;*/
  margin-right: 10px;
  text-align: right;
  height: 20px;
  background-color: black;
}

#backButton {
  float: left;
  height: 10px;
}

#logoutButton {
  float: right;
  margin: 0px;
  height: 10px;
}

.upArrowWrapper {
  float: right;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 0px;
  display: relative;
}

.downArrowWrapper {
  float: right;
  padding-top: 0px;
  margin-top: 0px;
  padding-right: 0px;
  /*margin-left: 60px;*/
  display: absolute;
}

.upAndDownvote button {
  display: block;
  margin-top: 10px;
}

.voteNumber {
  float: right;
  padding-left: 10px;
  padding-top: 13px;
}

.rate {
  height: 30px;
  padding: 0px;
  color: #ffc700; 
  font-size: 20px;
  background: #f6ecf0;
}

.burg {
    background-color: #cd5d7d !important;
}

.purpleBlue {
    background-color: #858eda !important;
}

.pastelBlue {
    background-color: #a7c5eb !important;
}

.logoutColor {
    background-color: #4351ff !important;
}