body {
  background-color: #D3D3D3;
}

#productImage {
  float: left;
  width: 150px;
  height: 150px;
  /*padding-top: 15px;*/
  margin-right: 25px;
}

#productTitle {
  font-size: 20px;
  font-weight: bold;
  margin-left: 25px;
}

.description {
  margin-top: 80px;
}

#descriptionTitle {
  font-size: 18px;
  font-weight: bold;
}

#reviewTitle {
  font-size: 16px;
  font-weight: bold;
}

.reviewerNames {
  font-size: 16px;
}

.header {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  clear: both;
  height: 50px;
}

#headerTitle {
  margin-top: 0px;
}

.navigation {
  background-color: gray;
  margin-top: 0px;
  padding-top: 0px;
  height: 25px;
}

.rankBox {
  background-color: black;
  margin-top: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-right: 0px;
  height: 25px;
  width: 25px;
  float: right;
  position: relative;
}

#rank {
  font-size: 14px;
  color: white;
  margin: 0px;
  padding-top: 3px;
  text-align: center;
}

.container {
  position: absolute;
  padding-top: 15px;
}

#addreview {
  float: right;
}

#backText {
  margin-top: 0px;
  padding-top: 0px;
  color: white;
  margin-right: 0px;
  text-align: left;
  font-size: 18px;
  padding-left: 10px;
}

#logoutText {
  margin-top: 3px;
  margin-bottom: 0px;
  padding-top: 0px;
  color: white;
  margin-left: 0px;
  padding-right: 10px;
  text-align: right;
}

#backButton {
  float: left;
}

#logoutButton {
  float: right;
  margin: 0px;
  height: 20px;
}

#upArrow {
  width: 30px;
  height: 30px;
  float: right;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: relative;
}

.upArrowWrapper {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#downArrow {
  width: 30px;
  height: 30px;
  float: right;
  transform: rotate(180deg);
  margin-top: 45px;
  padding-top: 0px;
  position: absolute;
}

.downArrowWrapper {
  float: right;
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 60px;
}