a {
    font-size: 20px;
}

a:visited {
    font-size: 20px;
    text-decoration:none;
}

.button-link {
    color:white;
    text-decoration:none;
}

.button-link:hover {
    color:white;
    text-decoration:none;
}

h1 {
    margin-bottom: 0px;
    padding-bottom: 5px;
}

h2 {
    padding-top: 10px;
}

.blur {
    background-color: black;
    opacity: 95%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.product-name {
    font-size: 16px;
}

.description {
    font-size: 14px;
    max-width: 50ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.burg {
    background-color: #cd5d7d;
}

.purpleBlue {
    background-color: #949cdf;
}

.pastelBlue {
    background-color: #a7c5eb;
}

body {
    background-color: #f6ecf0;
}

.logoutColor {
    background-color: #949cff;
}